.footer__column-link {
    line-height: 18px;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: normal;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    opacity: 1;
    transition: opacity 1s ease;
}

.footer__column-link:first-of-type {
    margin-top: 0;
}

a:hover {
    opacity: 0.3;
    transition: opacity 1s ease;
}