.feynman__title {
    padding: 0;
    margin-top: 100px;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-family: 'Inter';
    font-weight: 600;
    z-index: 3;
    align-self: center;
    text-align: center;
}