.feynman__title {
    padding: 0;
    margin-top: 0;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: bold;
    z-index: 3;
    align-self: center;
    text-align: center;
}