.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  position: relative;
  overflow: hidden;
  }