.table_theme_dark {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1100px;
    align-self: center;
    background-color: #1f1f1f;
    color: white;
    margin: 0;
}