.section-title_theme_dark {
    line-height: 1.15;
    font-size: 60px;
    font-family: 'Inter';
    font-weight: 600;
    width: 60%;
    align-self: center;
    text-align: center;
    color: white;
    background-color: transparent;
    padding-top: 90px;
    margin: 0px;
    z-index: 3;
}