.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: normal;
    width: 60%;
    padding-top: 20px;
    text-align: center;
    align-self: center;
    color: white;
    background-color: transparent;
    z-index: 3;
}