.khan__buy-link {
    margin-left: 48px;
    padding: 0;
    line-height: 42px;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: normal;
    color: #2f80ed;
    opacity: 1;
    transition: opacity 1s ease;
}

a:hover {
    opacity: 0.3;
    transition: opacity 1s ease;
}